################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kitty/bin/Debug
/Kitty/obj/Debug
