################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kitty/bin
/Kitty/obj
/Kitty/packages/NUnit.3.7.1
*.suo
