
@{
    ViewBag.Title = "Succes";
}

@using (Html.BeginForm("Succes", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table cellpadding="2" cellspacing="2">
        <tr>Succes</tr>
    </table>
}


<h2>Succes</h2>

