@{
    ViewBag.Title = "Settings Business Trip";
}

<h2>@ViewBag.Title</h2>
<br />
<br />
<br />
<button type="button" onclick="alert('Hello Kitty!')"> Create new business trip</button>

<br />
<br />
<br/>

<div align="left"></div><button type="button" onclick="alert('Hello Kitty!')"> View my business trip</button> </div>