@{
    ViewBag.Title = "Authentication";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form>
    <table>
        <tr>
            <td align="right">User Name:</td>
            <td align="left"><input type="text" /></td>
        </tr>

        &nbsp;	&nbsp; 	&nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <tr>
            <td align="right">Password:</td>
            <td align="left"><input type="text" /></td>
        </tr>
    </table>
</form>
