@{
    ViewBag.Title = "Messages";
}
<h2>@ViewBag.Title</h2>



<select>
    <option value="Message">Message Admin</option>


</select>

   <p align="left" ></p><textarea rows="10" cols="60">
       Message Administrator
                                               
 </textarea>
 
