
@{
    ViewBag.Title = "Profile";
}


<h1>@Html.ActionLink("Profile", "Index","Profile") </h1>
<br />


<form>
    <table>
        <tr>
            <td align="right">User Type:</td>
            <td align="left"><input type="text"  /></td>
        </tr>
        <tr>
            <td align="right">First Name:</td>
            <td align="left"><input type="text"  /></td>
        </tr>
        <tr>
            <td align="right">Last Name:</td>
            <td align="left"><input type="text" /></td>
        </tr>
        <tr>
            <td align="right">Email Address:</td>
            <td align="left"><input type="text" /></td>
        </tr>
        <tr>
            <td align="right">Phone Number:</td>
            <td align="left"><input type="text" /></td>
        </tr>
    </table>
</form>
